extends layout 

block content
    h1 Become a Member:

    if !currentUser 

        p Please log in before trying to become a member

    else if currentUser.status === "admin"

        p You don't need to become a member, you're already an admin!

    else

        form(action="", method="post") 

            div 
                label(for="passcode") *Enter the secret passcode: 
                input(id="passcode", type="password", name="passcode", required)

            button Submit

    if errorArray 
        
        each error in errorArray
            
            p=error.msg