//- TODO: write JS logic to prevent form submission when the values of each password input 
//- are different, if such logic can be written here--don't want to make an unnecessary 
//- submission since that would be inefficient

extends layout 

block content 
    h1 Sign Up Below:

    form(action="", method="POST") 

        div 
            label(for="username") *Username: 
            input(id="username", type="text", name="username", required)

        div 
            label(for="username") *Password: 
            input(id="password", type="password", name="password", required)

        div 
            label(for="confirmpassword") *Confirm Password: 
            input(id="confirmpassword", type="password", name="confirmpassword", required)

        button Submit