extends layout 

block content 
    h1 Log In Below:

    form(action="", method="POST") 

        div 
            label(for="username") *Username: 
            input(id="username", type="text", name="username", required,
                value=(persistedRequestBody ? persistedRequestBody.username : ""))

        div 
            label(for="password") *Password: 
            input(id="password", type="password", name="password", required,
                value=(persistedRequestBody ? persistedRequestBody.password : ""))

        button Submit

    p=error